:root {
 --main-title-color: #FFFFFF;
 --sekond-title-color: #FFFFFF;
 --accent-color: #FF6C00;
 --main-button-color: #FFFFFF;
 --second-buttom-color: #303030
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid red;
}

/* ---------Header-------- */
 .logo-site {

 }
 