.about .container {
    display: flex;
    column-gap: 30px;
}

.about-list {
    display: flex;
    column-gap: 30px;
    width: 570px;
}

.about-content {
    max-width: 470px;
}

.about-pre-title {
    margin-bottom: 20px;
}

.about-title {
    font-size: 42px;
    line-height: 1.16;
    color: var(--main-text-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-after-title {
    @include font(450, 18px, 1.67, 0.02em);
    color: #555555;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-text {
    @include font(400, 14px, 1.86, 0.02em);
    color: #555555;
    margin-top: 20px;
    margin-bottom: 40px;
}

.about-btn {
    color: var(--main-text-color);
}