.soc__link {
    @include font(600, 11px, 1.36, 0.2em);
    color: var(--main-text-color);
}

.hero__content {
    background-color: #555555;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2),
            rgba(25, 28, 38, 0.2)),
        url(../images/barber-hero.jpg);
    padding: 272px 100px 206px 100px;
    flex-grow: 1;
}

.hero__pre-title {
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: 20px;
}

.hero__title {
    margin-bottom: 20px;
}

.hero__after-title {
    @include font(400, 18px, 1.66, 0.02em);
    color: var(--secondary-text-color);
    max-width: 360px;
}

.hero__container {
    display: flex;
}

.soc {
    display: flex;
    align-items: flex-end;
    width: 100px;
    padding-left: 27px;
    padding-bottom: 40px;
}

.soc__list {
    display: flex;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
    align-items: center;
    gap: 40px;

    &::before {
        content: '';
        width: 60px;
        height: 1px;
        background-color: #303030;
    }
}